/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.burgerBar {
  display: none;
}

@media (max-width: 1080px) {
  .burgerBar {
    display: block !important;
  }
  .btn-group-links {
    display: none !important;
  }
}

/* Personaliza el scroll */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
  height: 5px;
  display: none;
}

/* Track del scroll */
::-webkit-scrollbar-track {
  background: rgba(171, 190, 209, 0.2); /* Color del fondo del track */
}

/* Handle del scroll */
::-webkit-scrollbar-thumb {
  /* background-color: rgb(168 85 247 / var(--tw-text-opacity)); Color del handle del scroll */
  background-color: #4caf4f; /* Color del handle del scroll */
  border-radius: 5px; /*Borde redondeado*/
  border: 2px solid #4caf4f; /* Borde del handle */
}
